.Hero {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.Hero span {
  font-size: 70px;
  color: black;
}
