.Hero {
  background-color: green;
  height: 400px;
  background-image: url("https://thumbs.dreamstime.com/b/bags-shop-illustration-woman-buys-handbags-35038268.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.Hero span {
  font-size: 70px;
  color: black;
}
